# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text eol=lf
*.pyx text eol=lf

# Jupyter Notebooks
*.ipynb text eol=lf

# Data files
*.csv text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Binary files
*.xlsx binary
*.parquet binary
*.npz binary
*.png binary
*.jpg binary
*.pdf binary
